.Nav {
  align-items: center;
  gap: 24px;
}
.Nav .menuSvg {
  width: 16px;
  height: 16px;
}
.Nav li {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.Nav li div {
  width: 15px;
  height: 15px;
}
.Nav li div svg {
  width: 100%;
  height: 100%;
}
.Nav li div svg path {
  stroke: #666;
  stroke-width: 1.5;
}
.Nav li p {
  font-weight: 500;
  font-size: 14px;
  color: #666;
}
.Nav li.on div svg path {
  stroke: #222;
}
.Nav li.on p {
  color: #222;
}