.Nav{
    align-items: center;
    gap: 24px;
    li{
        display: flex;
        align-items: center;
        gap: 3px;
        cursor: pointer;
        div{
            width: 15px;
            height: 15px;
            svg{
                width: 100%;
                height: 100%;
                path{
                    stroke: #666;
                    stroke-width: 1.5;
                }
            }
        }
        p{
            font-weight: 500;
            font-size: 14px;
            color: #666;
        }
    }
    li.on{
        div{
            svg{
                path{
                    stroke: #222;
                }
            }
        }
        p{
            color: #222;
        }
    }
}