.Project{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem 5rem;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto
}

@media (max-width: 1200px){
    .Project{
        flex-direction: column;
        padding: 0 2rem;
    }
}