.Home .section {
  margin: 0 auto;
  padding: 3rem 2rem 7rem;
  max-width: 1400px;
  width: 100%;
  position: relative;
}
.Home h2 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25rem;
  font-weight: 800;
}

@media (max-width: 1200px) {
  .Home .section {
    padding: 2rem 2rem 5rem;
  }
  .Home h2 {
    top: 2.125rem;
    font-size: 1.125rem;
    padding: 0;
  }
}