.Header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  margin-top: 1rem;
  border: 1px solid #fff;
  background: rgba(232, 232, 232, 0.4);
  border-radius: 100px;
  padding: 7px 18px 7px 14px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 7rem;
  z-index: 999;
  backdrop-filter: blur(8px);
}
.Header .LogoTitle {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.Header .LogoTitle .logo {
  width: 20px;
  height: 20px;
}
.Header .LogoTitle .logo img {
  width: 100%;
}
.Header .LogoTitle p {
  font-weight: 700;
  color: #333;
}
.Header .Nav {
  display: none;
}

.Header.on {
  width: fit-content;
}
.Header.on .LogoTitle {
  width: fit-content;
  justify-content: flex-start;
}
.Header.on .Nav {
  display: flex;
}