.AboutMain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
}
.AboutMain h3 {
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
}
.AboutMain div {
  max-width: 450px;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  gap: 2rem;
}
.AboutMain div p {
  font-size: 1.5rem;
  color: #444;
  font-weight: 700;
  line-height: 2rem;
}
.AboutMain div p span {
  color: #ACCFF0;
}

@media (max-width: 1200px) {
  .AboutMain h3 {
    display: flex;
    flex-direction: column;
    font-size: 5vh;
  }
  .AboutMain div {
    max-width: 480px;
    width: 100%;
    padding: 0;
  }
  .AboutMain div p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}