.AboutMain {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.AboutMain .mainImg {
  width: 400px;
  height: 400px;
  border-radius: 400px;
  margin: 0 auto;
  background: linear-gradient(37deg, #A9D5FD 12.72%, #F2F9FF 85.74%);
  box-shadow: -4px 4px 15px 1px #c5dcf1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutMain .mainImg > div {
  width: 386px;
  height: 386px;
  background: #fff;
  border-radius: 380px;
}
.AboutMain h4 {
  font-size: 3.5rem;
  padding: 2.5rem 0;
}