.ProjectSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.ProjectSection .project_content {
  position: relative;
  width: calc(50% - 1rem);
  aspect-ratio: 1/1;
  border: 1px solid #ddd;
  border-radius: 1rem;
  overflow: hidden;
  background: #fafafa;
  transition: all 0.3s ease;
}
.ProjectSection .project_content img {
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.ProjectSection .project_content .project_textbox {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.ProjectSection .project_content .project_textbox p {
  font-size: 0.875rem;
}
.ProjectSection .project_content:hover {
  background: #eee;
}
.ProjectSection .project_content:hover img {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .ProjectSection .project_content {
    width: 100%;
  }
  .ProjectSection .project_content .project_textbox {
    padding: 1rem;
  }
}