.ProjectSection h2 {
  position: absolute;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: #444;
}