.HorizontalScroll{
    .container{
        padding-left: 4rem;
    }
    .wrapper{
        gap: 8rem;
    }
    .content_wrapper{
        padding-top: 5rem;
        width: calc(100vw - 8rem);
    }
    .content_box{
        img{
            object-fit: cover;
        }
    }
}

@media (max-width: 1200px){
    .HorizontalScroll{

        .container{
            padding-left: 2rem;
        }
        .wrapper{
            gap: 4rem;
        }
        .content_wrapper{
            width: calc(100vw - 4rem)
        }
    }
 }