.Footer {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: end;
  font-size: 0.875rem;
}
.Footer h2 {
  width: 100%;
  font-size: 7rem;
  text-align: center;
}
.Footer h4 {
  width: 8.5rem;
  font-weight: 700;
}
.Footer .footer_url {
  width: 500px;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0;
}
.Footer .footer_url li {
  display: flex;
}
.Footer .footer_nav {
  width: 100%;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4rem;
  background: #ECF2F7;
  border-radius: 1.5rem;
  font-weight: 700;
}
.Footer .footer_nav ul {
  width: 500px;
  margin-right: 3rem;
  display: flex;
  padding: 1.5rem 0;
}
.Footer .footer_nav .nav_projectList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Footer .footer_nav .nav_projectList h4 {
  width: auto;
}
.Footer .footer_nav > p {
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  .Footer {
    padding: 1rem;
  }
  .Footer h2 {
    font-size: 11.5vw;
  }
  .Footer h4 {
    width: 6.5rem;
  }
  .Footer .footer_url {
    width: 100%;
    max-width: 500px;
    margin-right: 1rem;
    padding-left: 2rem;
  }
  .Footer .footer_nav ul {
    width: 100%;
    max-width: 500px;
    padding-left: 2rem;
    margin-right: 1rem;
  }
}